/* style | variant | weight | stretch | size/line-height | family */
body {
  font-family: "Open Sans", sans-serif; }

/* SIDEBAR */
.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: grey;
  overflow: hidden;
  position: relative;
  float: left; }
  .sidebar header, .sidebar nav, .sidebar footer {
    width: 100%;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem; }
  .sidebar header {
    background-color: yellow; }
  .sidebar nav {
    background-color: lightcoral; }
  .sidebar footer {
    position: absolute;
    bottom: 0;
    background-color: red; }

ul.my-menu {
  font-family: "Unica One", cursive;
  font-size: 1.5rem;
  padding: 0;
  margin: 0; }
  ul.my-menu li {
    list-style-type: none;
    margin-bottom: 3px; }
  ul.my-menu a {
    text-decoration: none; }

.trigger {
  background-color: blue;
  font-size: 1.25rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.trigger.active {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

ul.my-submenu {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0; }

.social-media {
  margin: 0;
  text-align: center;
  padding: 0; }
  .social-media li {
    list-style-type: none;
    display: inline-block;
    width: 45px;
    height: 45px; }
  .social-media img {
    fill: white;
    width: 80%; }

.address p {
  line-height: 0.9;
  font-size: 0.9rem;
  text-align: center; }

.copyright p {
  line-height: 0.9;
  font-size: 0.9rem;
  text-align: center; }

header.menu-responsive {
  display: none; }

/* RIGHT PART - MAIN PART */
main {
  float: right; }

.layer1.slider-img {
  z-index: 0;
  height: 100vh;
  width: 80vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: aquamarine; }
  .layer1.slider-img ul.slides {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 10000px; }
  .layer1.slider-img li.slide {
    width: 80vw;
    float: left; }
    .layer1.slider-img li.slide img {
      width: 100%; }

/* MENU RESPONSIVE */
.my-header {
  background-color: aquamarine;
  position: fixed;
  width: 100vw;
  height: 12vh;
  z-index: 13; }

.home-logo {
  background-color: blue; }
  .home-logo a {
    background-color: pink;
    display: block; }
  .home-logo img {
    height: 40px; }

/* MENU BURGER */
.burger-icon-container {
  background-color: purple;
  width: 100%; }

.burger {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto;
  background-color: green; }
  .burger .icon {
    position: absolute;
    height: 4px;
    width: 40px;
    top: 19px;
    background-color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
    .burger .icon:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: -17px;
      background-color: black;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
    .burger .icon:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: 16px;
      background-color: black;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }

.burger.active {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto;
  background-color: green; }
  .burger.active .icon {
    position: absolute;
    height: 4px;
    width: 40px;
    top: 19px;
    background-color: transparent; }
    .burger.active .icon:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: 0px;
      background-color: black;
      animation: cross 1s cubic-bezier(0.19, 1, 0.22, 1) 0s running forwards; }
    .burger.active .icon:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: 0px;
      background-color: red; }

@keyframes cross {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); } }
@-moz-keyframes cross {}
@-ms-keyframes cross {}
@-o-keyframes cross {}
.navigation.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: green;
  opacity: 0.75;
  top: 12vh;
  z-index: 12;
  -webkit-font-smoothing: antialiased;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }

.navigation {
  top: -112vh; }

.navigation-list {
  background-color: pink;
  padding: 15px 20px 15px 20px; }

.my-menu.responsive {
  margin-bottom: 45px;
  text-align: center; }

/* MEDIA QUERIES RESPONSIVE */
@media (max-width: 768px) {
  header.menu-responsive {
    display: block; }

  div.sidebar {
    display: none; } }
@media (min-width: 2500px) {
  .sidebar header, .sidebar nav, .sidebar footer {
    width: 100%;
    padding: 2rem 3.5rem 2rem 3.5rem; }

  ul.my-menu {
    font-size: 2.75rem; }

  ul.my-submenu {
    font-size: 1.75rem; }

  .address p, .copyright p {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
