/* style | variant | weight | stretch | size/line-height | family */
body {
  font-family: "Open Sans", sans-serif; }

/* SIDEBAR */
.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: white;
  overflow: hidden;
  position: relative;
  float: left; }
  .sidebar header, .sidebar nav, .sidebar footer {
    width: 100%;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem; }
  .sidebar header {
    background-color: transparent; }
  .sidebar nav {
    background-color: transparent; }
  .sidebar footer {
    position: absolute;
    bottom: 0;
    background-color: transparent; }

ul.my-menu {
  font-family: "Unica One", cursive;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: left; }
  ul.my-menu li {
    list-style-type: none;
    margin-bottom: 3px; }
  ul.my-menu a {
    text-decoration: none;
    color: black; }

/* DROPDWON TRIGGER */
.trigger {
  background-color: transparent;
  font-size: 1.25rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-left: 1.3rem; }

.trigger.active {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

ul.my-submenu {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0;
  line-height: 1.25;
  text-transform: none;
  margin-bottom: 0.8rem; }

.social-media {
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .social-media .hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  .social-media .ease-all {
    -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    -moz-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    -o-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    -ms-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out; }
  .social-media li a {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 1.25rem;
    text-align: center;
    padding-top: 3px;
    transform: rotate(45deg);
    /*background-color: #222;*/
    -webkit-box-shadow: inset 0 0 0 2px black;
    -moz-box-shadow: inset 0 0 0 2px black;
    -o-box-shadow: inset 0 0 0 2px black;
    -ms-box-shadow: inset 0 0 0 2px black;
    box-shadow: inset 0 0 0 2px black;
    color: black; }
    .social-media li a .fa {
      transform: rotate(-45deg); }
  .social-media li .facebook:hover {
    -webkit-box-shadow: inset 0 0 0 30px #3b5998;
    -moz-box-shadow: inset 0 0 0 30px #3b5998;
    -o-box-shadow: inset 0 0 0 30px #3b5998;
    -ms-box-shadow: inset 0 0 0 30px #3b5998;
    box-shadow: inset 0 0 0 30px #3b5998;
    color: white; }
  .social-media li .twitter:hover {
    -webkit-box-shadow: inset 0 0 0 30px #55acee;
    -moz-box-shadow: inset 0 0 0 30px #55acee;
    -o-box-shadow: inset 0 0 0 30px #55acee;
    -ms-box-shadow: inset 0 0 0 30px #55acee;
    box-shadow: inset 0 0 0 30px #55acee;
    color: white; }
  .social-media li .linkedin:hover {
    -webkit-box-shadow: inset 0 0 0 30px #0077B5;
    -moz-box-shadow: inset 0 0 0 30px #0077B5;
    -o-box-shadow: inset 0 0 0 30px #0077B5;
    -ms-box-shadow: inset 0 0 0 30px #0077B5;
    box-shadow: inset 0 0 0 30px #0077B5;
    color: white; }

.address {
  padding-bottom: 1rem; }
  .address p {
    line-height: 0.5;
    font-size: 1rem;
    text-align: left; }

.copyright p {
  line-height: 0.8;
  font-size: 0.8rem;
  text-align: left;
  color: grey; }

/* RIGHT PART - MAIN PART */
main {
  float: right;
  position: relative; }

/* LAYER2 */
.layer2 {
  position: absolute;
  background: transparent url("../img/diamond.svg") 70% 100% no-repeat;
  background-size: 240%;
  z-index: 27;
  width: 80vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0; }
  .layer2 .wrapper {
    position: relative;
    width: 80vw;
    background-color: transparent;
    /* bottom: 0; */
    min-height: 80px;
    /* max-height: 15%; */
    height: 100vh;
    /* margin-top: 60%; */ }
  .layer2 .second-wrapper {
    position: absolute;
    bottom: 0;
    left: 10vw;
    background-color: transparent;
    height: 20vw;
    width: 16vw; }
  .layer2 button {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-color: white;
    opacity: 1; }
    .layer2 button:hover, .layer2 button:active {
      opacity: 0.5;
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      -ms-transition: opacity .25s ease;
      -o-transition: opacity .25s ease;
      transition: opacity .25s ease; }
  .layer2 .prev {
    top: 0;
    left: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
    .layer2 .prev i {
      transform: rotate(45deg); }
  .layer2 .next {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
    .layer2 .next i {
      transform: rotate(-45deg); }
  .layer2 .second-wrapper.bullet {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    height: 5vw;
    width: 100%; }
    .layer2 .second-wrapper.bullet ul {
      margin: 0;
      padding: 0;
      text-align: center; }
      .layer2 .second-wrapper.bullet ul li {
        list-style-type: none;
        background-color: black;
        height: 1vw;
        width: 1vw;
        display: inline-block;
        margin: 15px;
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        -webkit-transition: transform .25s ease, background-color .25s ease;
        -moz-transition: transform .25s ease, background-color .25s ease;
        -ms-transition: transform .25s ease, background-color .25s ease;
        -o-transition: transform .25s ease, background-color .25s ease;
        transition: transform .25s ease, background-color .25s ease; }
        .layer2 .second-wrapper.bullet ul li:hover {
          background-color: yellow;
          -webkit-transform: rotate(45deg) scale(1.5);
          -moz-transform: rotate(45deg) scale(1.5);
          -ms-transform: rotate(45deg) scale(1.5);
          -o-transform: rotate(45deg) scale(1.5);
          transform: rotate(45deg) scale(1.5); }
      .layer2 .second-wrapper.bullet ul li.active {
        background-color: yellow;
        -webkit-transform: rotate(45deg) scale(1.5);
        -moz-transform: rotate(45deg) scale(1.5);
        -ms-transform: rotate(45deg) scale(1.5);
        -o-transform: rotate(45deg) scale(1.5);
        transform: rotate(45deg) scale(1.5); }

/* LAYER 3 */
.layer3 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80vw;
  min-width: 650px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 28;
  height: 60vh; }

.slider-text {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative; }
  .slider-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0; }
  .slider-text li {
    padding: 0;
    margin: 0;
    width: 33.333333%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0; }
  .slider-text .block-text {
    display: block;
    border: none;
    width: 35%;
    /* min-height: 100%; */
    background-color: pink;
    margin: auto;
    margin-top: 25vh;
    position: relative; }
    .slider-text .block-text h1 {
      text-align: left;
      text-transform: uppercase;
      font-family: "Unica One", cursive;
      line-height: 3.5rem;
      font-size: 3.5rem;
      font-weight: normal; }
    .slider-text .block-text p {
      text-align: left;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif; }

.exergue {
  position: absolute;
  background-color: lightblue;
  color: white;
  width: 300px;
  height: 100px;
  padding: 15px;
  top: -120px;
  left: -300px; }
  .exergue p {
    margin: 0; }
  .exergue:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid lightblue;
    position: absolute;
    bottom: -40px;
    right: 0; }

/* MENU RESPONSIVE */
.menu-responsive {
  display: none;
  position: fixed;
  background-color: transparent;
  height: 70px;
  padding: 15px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 26; }
  .menu-responsive a {
    display: block;
    background-color: transparent;
    margin-left: 70px; }
  .menu-responsive img {
    height: 40px; }

/* MENU BURGER */
.burger-icon-container {
  background-color: transparent;
  width: 70px;
  float: left; }

.burger {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent; }
  .burger .icon {
    position: absolute;
    height: 4px;
    width: 40px;
    top: 19px;
    background-color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
    .burger .icon:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: -17px;
      background-color: black;
      transform-origin: 50% 50%;
      transform: rotate(0deg);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1); }
    .burger .icon:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      top: 16px;
      background-color: black;
      transform-origin: 50% 50%;
      transform: rotate(0deg);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1); }

/* BURGER ACTIVE */
.burger.active .icon {
  background-color: transparent; }
  .burger.active .icon:before {
    top: 0px;
    transform: rotate(-45deg); }
  .burger.active .icon:after {
    top: 0px;
    transform: rotate(45deg); }

/* MEDIA QUERIES RESPONSIVE */
@media (min-width: 768px) and (max-width: 980px) {
  /* MENU SIZE X 2 */
  .menu-responsive {
    height: 140px;
    padding: 30px; }
    .menu-responsive a {
      margin-left: 140px; }
    .menu-responsive img {
      height: 80px; }

  .burger-icon-container {
    width: 140px; }

  .burger {
    width: 80px;
    height: 80px; }
    .burger .icon {
      height: 8px;
      width: 80px;
      top: 38px; }
      .burger .icon:before {
        height: 8px;
        width: 80px;
        top: -34px; }
      .burger .icon:after {
        height: 8px;
        width: 80px;
        top: 32px; }

  .sidebar, .sidebar.active {
    padding-top: 140px; }
    .sidebar ul.my-menu, .sidebar.active ul.my-menu {
      font-size: 3rem; }
    .sidebar .address p, .sidebar.active .address p {
      font-size: 1.8rem; }
    .sidebar .copyright p, .sidebar.active .copyright p {
      font-size: 1.8rem; }
    .sidebar .social-media li, .sidebar.active .social-media li {
      height: 90px;
      width: 90px; } }
@media (max-width: 980px) {
  .menu-responsive {
    display: block; }

  .sidebar.active {
    left: 0;
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1); }

  .sidebar {
    width: 100vw;
    position: absolute;
    top: 0;
    padding-top: 70px;
    bottom: 0;
    left: -100vw;
    right: 0;
    z-index: 26; }
    .sidebar header, .sidebar nav, .sidebar footer {
      padding: 1.25rem 15px 0 15px; }
    .sidebar header {
      display: none; }
    .sidebar nav li {
      text-align: left; }
    .sidebar footer {
      position: static;
      bottom: auto; }

  .trigger, .trigger.active, .dropdown, .mysubmenu {
    display: none; }

  main .container-cover.layer1 {
    position: absolute;
    width: 100vw;
    min-width: 200vw;
    background-color: #fff; }

  .layer2 {
    background: transparent url("../img/diamond.svg") 90% 100% no-repeat;
    background-size: 320%;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0; }
    .layer2 .wrapper {
      position: relative;
      width: 100vw;
      background-color: transparent;
      /* bottom: 0; */
      min-height: 80px;
      /* max-height: 15%; */
      height: 100vh;
      /* margin-top: 60%; */ }
    .layer2 .second-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      height: 40vw;
      width: 100vw; }
    .layer2 button {
      position: absolute;
      width: 16vw;
      height: 16vw;
      background-color: white;
      opacity: 1;
      margin: 12vw; }
      .layer2 button:hover, .layer2 button:active {
        opacity: 0.5;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        -ms-transition: opacity .25s ease;
        -o-transition: opacity .25s ease;
        transition: opacity .25s ease; }
    .layer2 .prev {
      top: 0;
      left: 0;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
      .layer2 .prev i {
        transform: rotate(45deg); }
    .layer2 .next {
      top: 0;
      right: 0;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
      .layer2 .next i {
        transform: rotate(-45deg); }
    .layer2 .second-wrapper.bullet {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      height: 18vw;
      width: 100%; }
      .layer2 .second-wrapper.bullet ul {
        margin: 0;
        padding: 0;
        text-align: center; }
        .layer2 .second-wrapper.bullet ul li {
          list-style-type: none;
          background-color: black;
          height: 5vw;
          width: 5vw;
          display: inline-block;
          margin: 15px;
          -webkit-transform: rotate(45deg) scale(1);
          -moz-transform: rotate(45deg) scale(1);
          -ms-transform: rotate(45deg) scale(1);
          -o-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
          -webkit-transition: transform .25s ease, background-color .25s ease;
          -moz-transition: transform .25s ease, background-color .25s ease;
          -ms-transition: transform .25s ease, background-color .25s ease;
          -o-transition: transform .25s ease, background-color .25s ease;
          transition: transform .25s ease, background-color .25s ease; }
          .layer2 .second-wrapper.bullet ul li:hover {
            background-color: yellow;
            -webkit-transform: rotate(45deg) scale(1.5);
            -moz-transform: rotate(45deg) scale(1.5);
            -ms-transform: rotate(45deg) scale(1.5);
            -o-transform: rotate(45deg) scale(1.5);
            transform: rotate(45deg) scale(1.5); }
        .layer2 .second-wrapper.bullet ul li.active {
          background-color: yellow;
          -webkit-transform: rotate(45deg) scale(1.5);
          -moz-transform: rotate(45deg) scale(1.5);
          -ms-transform: rotate(45deg) scale(1.5);
          -o-transform: rotate(45deg) scale(1.5);
          transform: rotate(45deg) scale(1.5); } }
@media (min-width: 2500px) {
  .sidebar header, .sidebar nav, .sidebar footer {
    width: 100%;
    padding: 2rem 3.5rem 2rem 3.5rem; }

  ul.my-menu {
    font-size: 2.75rem; }

  ul.my-submenu {
    font-size: 1.75rem; }

  .address p, .copyright p {
    font-size: 1.5rem; } }
@media (max-height: 670px) {
  .trigger {
    display: none; }

  .my-submenu {
    display: none; } }

/*# sourceMappingURL=style.css.map */
